body {
  max-width: 800px;
  min-width: 420px;
  margin: 0 auto;
  padding: 40px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.25em;
}

h1, h2 {
  font-weight: 400;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

@media(max-width: 500px) {
  body {
    padding: 0;
  }

  .results {
    margin: 0 20px;
  }

  h1 {
    text-align: center;
  }
}

abbr {
  text-decoration: none;
}

.twoCols {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  margin-top: 20px;
}

.twoCols h2 {
  margin-top: 0;
}

.gender, .dob {
  font-size: 18px;
}

.namesWrapper {
  -moz-column-width: 180px;
  -webkit-column-width: 180px;
  column-width: 180px;
}

ol.names {
  margin: 0;
}

ol.names > li {
  list-style-position: outside;
}

.inputForm {
  margin: 0 auto;
  text-align: center;
  background-color: #eee;
  padding: 50px 0;
}

.inputForm > label {
  display: block;
  font-size: 18px;
  margin-bottom: 20px;
}

.inputForm > input.slk {
  border: none;
  display: inline-block;
  font-size: 24px;
  padding: 10px;
}

.inputForm > input.submit {
  border: none;
  background-color: #0c7763;
  color: white;
  cursor: pointer;
  display: inline-block;
  height: 48px;
  font-size: 18px;
  padding: 10px;
  vertical-align: top;
}

.inputForm > .error {
  height: 20px;
  margin-top: 10px;
  margin-bottom: -10px;
  font-size: 14px;
}

footer {
  text-align: right;
  font-size: 14px;
  color: #666;
  margin: 20px 0;
}

footer a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid;
}
